
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar-top {
  position: fixed;
  width: 100%;
  top: 0;  
}

.sidebar {
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.sidebar-item { 
  display: block;
  padding: 8px 16px;
  width: auto;
  border:none;
  outline:0;
}

.sidebar-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
}

.right-sidebar {
  float: right!important;
  overflow: hidden;
}

.image-container {
  margin-top: 35px;
  position: relative;
}

.source-img {
  width: 100%;
  height:auto;
}

img {
  vertical-align: middle;
}

.center-flex {
	display: grid;
	justify-content: center;
	align-items: center;
	
}

.projects {
	font-size: 10px;
	text-align:center;
	padding:15px;	
}

.projects ul, .skills ul {
  list-style: none;
  padding: 0;
}

.projects ul li, .skills ul li {
  background:lime;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border-radius:8px;
  border-color: black;
  max-width: 20%;
}

