
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.image-container {
	height:100%;
	width:100%;
	text-align: left;
	background-attachment:fixed;
}

.header {
  padding: 15px;
}

h1 {
	display:flex;
	text-align: left;
}	


.sidebar {
  list-style-position:center;	
  overflow: hidden;
  text-align: center;
  left:50%;
  top:50%;
  background-image: linear-gradient(green, black, green);
}


.sidebar a {
  float:left;
  display: block;
  text-align: center;
  color: white;
  padding: 15px;
}


.content {
    padding: 1rem 2rem;
    margin: auto;    
}

.center-flex {
	display: grid;
	justify-content: center;
	align-items: center;
	
}

.projects {
	font-size: 10px;
	text-align:center;
	padding:15px;	
}

.projects ul, .skills ul {
  list-style: none;
  padding: 0;
}

.projects ul li, .skills ul li {
  background:lime;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border-radius:8px;
  border-color: black;
  max-width: 20%;
}

h2 {
  display: inline-block;
  border-bottom: 2px solid black;
  margin-bottom: 1rem; 
}


/*
  padding: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  outline: none;
}`
  */
  
/*
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row::after {
  content: "";
  display: table;
  clear: left;
}
*/

