

header {
  /*background: #4CAF50;
  color: white;*/
  padding: 5px;
  text-align: center;
}
h1 {
  background-color: green;
}
body {
  margin: 0;
}

.container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 50vmin;
  width: 50vmin;
  display: flex;
  flex-wrap: wrap;
}
.box{
  height: 15vmin;
  width: 15vmin;
  font-size: 8vmin;
}
/*
section {
    margin: 20px;
}
*/

nav ul li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row::after {
  content: "";
  display: table;
  clear: right;
}

